In [2]:
import pandas as pd

In [3]:
bookings = pd.read_csv('bookings.csv', sep=';')

In [4]:
bookings.head()

,Hotel,Is Canceled,Lead Time,arrival full date,Arrival Date Year,Arrival Date Month,Arrival Date Week Number,Arrival Date Day of Month,Stays in Weekend nights,Stays in week nights,...,Adults,Children,Babies,Meal,Country,Reserved Room Type,Assigned room type,customer type,Reservation Status,Reservation status_date
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03

In [5]:
bookings.shape

(119390, 21)

In [6]:
bookings.dtypes

Hotel                         object
Is Canceled                    int64
Lead Time                      int64
arrival full date             object
Arrival Date Year              int64
Arrival Date Month            object
Arrival Date Week Number       int64
Arrival Date Day of Month      int64
Stays in Weekend nights        int64
Stays in week nights           int64
stays total nights             int64
Adults                         int64
Children                     float64
Babies                         int64
Meal                          object
Country                       object
Reserved Room Type            object
Assigned room type            object
customer type                 object
Reservation Status            object
Reservation status_date       object
dtype: object

**При сборе датасета произошла небольшая ошибка, 
и названия колонок были записаны в неудобном для дальнейшей работы формате. 
Исправьте ситуацию, приведя названия столбцов к нижнему регистру и заменив пробелы на знак нижнего подчеркивания.**

In [7]:
bookings.columns

Index(['Hotel', 'Is Canceled', 'Lead Time', 'arrival full date',
       'Arrival Date Year', 'Arrival Date Month', 'Arrival Date Week Number',
       'Arrival Date Day of Month', 'Stays in Weekend nights',
       'Stays in week nights', 'stays total nights', 'Adults', 'Children',
       'Babies', 'Meal', 'Country', 'Reserved Room Type', 'Assigned room type',
       'customer type', 'Reservation Status', 'Reservation status_date'],
      dtype='object')

In [8]:
bookings.columns = bookings.columns.str.lower().str.replace(' ', '_')

In [9]:
bookings.columns

Index(['hotel', 'is_canceled', 'lead_time', 'arrival_full_date',
       'arrival_date_year', 'arrival_date_month', 'arrival_date_week_number',
       'arrival_date_day_of_month', 'stays_in_weekend_nights',
       'stays_in_week_nights', 'stays_total_nights', 'adults', 'children',
       'babies', 'meal', 'country', 'reserved_room_type', 'assigned_room_type',
       'customer_type', 'reservation_status', 'reservation_status_date'],
      dtype='object')

In [10]:
# ИЛИ(OR)

In [11]:
rename_cols = {}
for col in bookings.columns:
    rename_cols[col] = col.replace(' ', '_').lower()

In [12]:
rename_cols

{'hotel': 'hotel',
 'is_canceled': 'is_canceled',
 'lead_time': 'lead_time',
 'arrival_full_date': 'arrival_full_date',
 'arrival_date_year': 'arrival_date_year',
 'arrival_date_month': 'arrival_date_month',
 'arrival_date_week_number': 'arrival_date_week_number',
 'arrival_date_day_of_month': 'arrival_date_day_of_month',
 'stays_in_weekend_nights': 'stays_in_weekend_nights',
 'stays_in_week_nights': 'stays_in_week_nights',
 'stays_total_nights': 'stays_total_nights',
 'adults': 'adults',
 'children': 'children',
 'babies': 'babies',
 'meal': 'meal',
 'country': 'country',
 'reserved_room_type': 'reserved_room_type',
 'assigned_room_type': 'assigned_room_type',
 'customer_type': 'customer_type',
 'reservation_status': 'reservation_status',
 'reservation_status_date': 'reservation_status_date'}

In [13]:
bookings = bookings.rename(columns=rename_cols)

**Пользователи из каких стран совершили наибольшее число успешных бронирований? 
Бронирование считается успешным, если в дальнейшем не было отменено (переменная is_canceled).**

In [15]:
bookings\
    .query('is_canceled == 0')\
    .value_counts('country')\
    .head()

country
PRT    21071
GBR     9676
FRA     8481
ESP     6391
DEU     6069
dtype: int64

In [16]:
# ИЛИ(OR)

In [17]:
bookings.loc[bookings.is_canceled == 0].country.value_counts().head()

PRT    21071
GBR     9676
FRA     8481
ESP     6391
DEU     6069
Name: country, dtype: int64

**На сколько ночей (stays_total_nights) в среднем бронируют отели типа City Hotel? Resort Hotel? 
Запишите полученные значения в пропуски с точностью до 2 знаков после точки.**

In [19]:
bookings\
    .groupby(['hotel'], as_index=False)\
    .aggregate({'stays_total_nights': 'mean'})\
    .round(2)

          hotel  stays_total_nights
0    City Hotel                2.98
1  Resort Hotel                4.32

In [20]:
# ИЛИ(OR)

In [21]:
bookings.groupby('hotel', as_index=False).stays_total_nights.mean().round(2)

          hotel  stays_total_nights
0    City Hotel                2.98
1  Resort Hotel                4.32

**Иногда тип номера, присвоенного клиенту (assigned_room_type), 
отличается от изначально забронированного (reserved_room_type). 
Такое может произойти, например, по причине овербукинга.
Сколько подобных наблюдений встретилось в датасете?
 Отмена бронирования также считается**

In [23]:
bookings\
    .query('assigned_room_type != reserved_room_type')\
    .shape

(14917, 21)

In [24]:
# ИЛИ (OR)

In [25]:
len(bookings.loc[bookings.assigned_room_type != bookings.reserved_room_type])

14917

**Теперь проанализируйте даты запланированного прибытия (arrival_date_year).
На какой месяц чаще всего оформляли бронь в 2016 году? Изменился ли самый популярный месяц в 2017?**

In [27]:
bookings\
    .query('arrival_date_year == "2016" or arrival_date_year == "2017"')\
    .value_counts(['arrival_date_month', 'arrival_date_year'])

Series([], dtype: int64)

**Сгруппируйте данные по годам, а затем проверьте, на какой месяц (arrival_date_month) бронирования отеля типа City Hotel 
отменялись чаще всего в 2015? 2016? 2017?**

In [29]:
bookings\
    .query('is_canceled == 1 and hotel == "City Hotel"')\
    .groupby(['arrival_date_year', 'arrival_date_month', 'hotel'], as_index=False)\
    .is_canceled.count()\
    .sort_values(['arrival_date_year', 'is_canceled'], ascending=False)

    arrival_date_year arrival_date_month       hotel  is_canceled
25               2017                May  City Hotel         2217
18               2017              April  City Hotel         1926
23               2017               June  City Hotel         1808
22               2017               July  City Hotel         1324
24               2017              March  City Hotel         1278
19               2017             August  City Hotel         1123
21               2017            January  City Hotel         1044
20               2017           February  City Hotel          971
16               2016            October  City Hotel         1947
12               2016               June  City Hotel         1720
17               2016          September  City Hotel         1567
6                2016              April  City Hotel         1539
14               2016                May  City Hotel         1436
15               2016           November  City Hotel         1360
7                2016             August  City Hotel         1247
13               2016              March  City Hotel         1108
8                2016           December  City Hotel         1072
11               2016               July  City Hotel         1043
9                2016           February  City Hotel          930
10               2016            January  City Hotel          438
5                2015          September  City Hotel         1543
4                2015            October  City Hotel         1321
0                2015             August  City Hotel         1232
2                2015               July  City Hotel          939
1                2015           December  City Hotel          668
3                2015           November  City Hotel          301

**Посмотрите на числовые характеристики трёх колонок: adults, children и babies. 
Какая из них имеет наибольшее среднее значение?**

In [31]:
bookings[['adults', 'children', 'babies']].mean().idxmax()

'adults'

**Создайте колонку total_kids, объединив столбцы children и babies. 
Для отелей какого типа среднее значение переменной оказалось наибольшим?**

In [33]:
bookings['total_kids'] = bookings['children'] + bookings['babies']

In [34]:
bookings\
    .groupby(['hotel'], as_index=False)\
    .agg({'total_kids': 'mean'})\
    .round(2)\
    .max()

hotel         Resort Hotel
total_kids            0.14
dtype: object

In [35]:
# ИЛИ(OR)

In [36]:
bookings.groupby('hotel').total_kids.mean().round(2).max()

0.14

**Не все бронирования завершились успешно (is_canceled), поэтому можно посчитать, сколько клиентов было потеряно в процессе. 
Иными словами, посчитать метрику под названием Churn Rate.
Создайте переменную has_kids, которая принимает значение True, если клиент при бронировании указал хотя бы одного ребенка 
(total_kids), в противном случае – False. Далее проверьте, среди какой группы пользователей показатель оттока выше. 
В качестве ответа укажите наибольший % оттока, округленный до 2 знаков после точки 
(то есть доля 0.24563 будет 24.56% и в ответ пойдёт 24.56)**

In [38]:
bookings['has_kids'] = bookings['total_kids'] != 0

In [39]:
bookings['has_kids'].value_counts()

False    110054
True       9336
Name: has_kids, dtype: int64

In [40]:
bookings['is_canceled'].value_counts()

0    75166
1    44224
Name: is_canceled, dtype: int64

In [41]:
bookings[['has_kids', 'is_canceled']].value_counts()

has_kids  is_canceled
False     0              69093
          1              40961
True      0               6073
          1               3263
dtype: int64

In [42]:
round(bookings\
    .query('has_kids == False')\
    .is_canceled.value_counts()[1] / bookings\
    .query('has_kids == False').count(), 4) * 100

hotel                        37.22
is_canceled                  37.22
lead_time                    37.22
arrival_full_date            37.22
arrival_date_year            37.22
arrival_date_month           37.22
arrival_date_week_number     37.22
arrival_date_day_of_month    37.22
stays_in_weekend_nights      37.22
stays_in_week_nights         37.22
stays_total_nights           37.22
adults                       37.22
children                     37.22
babies                       37.22
meal                         37.22
country                      37.38
reserved_room_type           37.22
assigned_room_type           37.22
customer_type                37.22
reservation_status           37.22
reservation_status_date      37.22
total_kids                   37.22
has_kids                     37.22
dtype: float64

In [49]:
round(bookings\
    .query('has_kids == True')\
    .is_canceled.value_counts()[1] / bookings\
    .query('has_kids == True').count(), 4) * 100

hotel                        34.95
is_canceled                  34.95
lead_time                    34.95
arrival_full_date            34.95
arrival_date_year            34.95
arrival_date_month           34.95
arrival_date_week_number     34.95
arrival_date_day_of_month    34.95
stays_in_weekend_nights      34.95
stays_in_week_nights         34.95
stays_total_nights           34.95
adults                       34.95
children                     34.97
babies                       34.95
meal                         34.95
country                      35.00
reserved_room_type           34.95
assigned_room_type           34.95
customer_type                34.95
reservation_status           34.95
reservation_status_date      34.95
total_kids                   34.97
has_kids                     34.95
dtype: float64

In [44]:
# ИЛИ(OR)

In [45]:
bookings\
    .groupby('has_kids')['is_canceled']\
    .value_counts(normalize=True).mul(100).round(2)

has_kids  is_canceled
False     0              62.78
          1              37.22
True      0              65.05
          1              34.95
Name: is_canceled, dtype: float64